.grid {
  margin: 30;
}

.name {
  font-size: 22;
  font-weight: bold;
  margin-left: 20;
}

.id-label, .name-label {
  margin-top: 10;
  color: #ABABAB;
}
.id-label {
  text-align: center;
}
.name-label {
  margin-left: 20;
}