@import '~nativescript-theme-core/css/core.light.css';

.fa {
    font-family: "FontAwesome";
}
Page {
    background-color: #2A48CD;
}

.action-bar {
    background-color: #2A48CD;
    color: white;
}
.action-bar-title {
    text-align: center;
}
.action-bar .fa {
    margin-left: 10;
    font-size: 20;
}

.sidedrawer {
    background-color: #757575;
    color: white;
    font-size: 22;
    padding-top: 20;
}
.sidedrawer-content StackLayout {
    margin: 30;
    
}
.sidedrawer .fa {
    font-size: 35;
}

.link-label {
    margin-left: 15;
}

.circle {
    background-color: #5a78e3;
    color: white;
    border-radius: 50;
    width: auto;
    font-size: 20;
    width: 50;
    height: 50;
    text-align: center;
    vertical-align: middle;
}